body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
}

.top-banner h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-banner p {
    font-size: 20px;
}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(orange, #ff7300);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.donation-container {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.donation-container h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.donation-container p {
    font-size: 15px;
}

.button {
    border: none;
    color: grey;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover {
    background-color: tomato;
    color: grey;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: thin;
    width: 50%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.donation-type {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 100px;
}

.donation-type h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.donation-type p {
    text-align: center;
    font-size: 15px;
}

.donation-type-container {
    display: flex;
    margin: 20px;
}

.donation-type-container p {
    text-align: left;
}

.food {
    background-color: #affae1;
}

.shelter {
    background-color: #f8dee2;
}

.education {
    background-color: #f7e1b8;
}

.item {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.updates {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 100px;
}

.updates h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.updates p {
    text-align: center;
    font-size: 15px;
}

.button06 {
    border: none;
    color: grey;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.button06:hover {
    background-color: greenyellow;
    color: grey;
}